<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="lab2_1.Properties.Settings.Языки_народов_мираConnectionString" connectionString="Data Source=DESKTOP-8ER83ML\SQLEXPRESS;Initial Catalog=&quot;Языки народов мира&quot;;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
